@tailwind base;
@tailwind components;
@tailwind utilities;

/*paleta de colores: https://colorhunt.co/palette/e9d5ca8273974d4c7d363062 */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #E9D5CA;
  --primary-color: #363062;
  --secondary-color: #4D4C7D;
  --light-color: #827397;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
}

.bg-color{
  background-color: var(--bg-color);
}

.bg-primary-color{
  background-color: var(--primary-color);
}

.bg-secondary-color{
  background-color: var(--secondary-color);
}

.bg-light-color{
  background-color: var(--light-color);
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  /* border-radius: 12px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 27, 106);
  ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}